####################################################################################
###
### ATTENTION: THIS FILE IS PROVIDED BY PUPPET
###
### Change as needed. To restore original content, delete file:
### Next puppetrun will replace it.
###
### If you want to run your own dotfiles, specify another configuration directory
### source for hosting_basesetup::usermanagement::user => dotfile_sourcedir

$include /etc/inputrc
set bell-style none
"\e[A": history-search-backward
"\e[B": history-search-forward

###
### ATTENTION: THIS FILE IS PROVIDED BY PUPPET
###
###################################################################################

